[data-dwithease-toolbar="true"] .main {
    height: auto;
}

.table-row:hover td {
    background-color: #f9f9f9;
}

.reutrn_order_list td button {
    margin: 0;
}

.promo_content table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.bmpromo_pagination {
    padding: 0.625rem 0 0;
}

.bmpromo_pagination .pagecursortxt {
    padding: 0 0.125rem;
}

.bmpromo_note {
    padding: 0.1875rem 0.3125rem;
    font-style: italic;
}

.bmpromo_content table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.bmpromo_content h2 {
    color: #84bd00;
    margin: 0;
    padding: 0 0 0.625rem;
    font-size: 0.9375rem;
    font-weight: bold;
    line-height: 1.5625rem;
}

.bmpromo_content h3 {
    color: #84bd00;
    margin: 0;
    padding: 0 0 0.3125rem;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1.5625rem;
}

.bmpromo_content .button {
    margin: 0 0 0.625rem;
}

.bmpromo_content .error_box {
    margin-bottom: 0.625rem;
}

.bmpromo_content .infobox_item_search .button {
    margin-top: 0.625rem;
}

.bmpromo_content textarea:focus {
    margin-top: 1em;
    margin-bottom: 1em;
}

.bmpromo_content .promo_details input {
    width: 99px;
}

.text-right {
    text-align: right;
}

.mt-2 {
    margin-top: 0.5em;
}

.mt-4 {
    margin-top: 1em;
}

.mb-4 {
    margin-bottom: 1em;
}

.my-4 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.pt-2 {
    padding-top: 0.5em;
}

.pr-2 {
    padding-right: 0.5em;
}

.px-2 {
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.py-4 {
    padding-top: 1em;
    padding-bottom: 1em;
}
